@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&family=Oswald&display=swap");
/* font-family: "Merriweather", serif;
font-family: "Oswald", sans-serif; */

h1 {
  font-family: "Merriweather", serif;
  font-size: 5em;
  padding: 0px;
  margin: 0px;
}

h2 {
  font-family: "Merriweather", serif;
  font-size: 2em;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  color: white;
}

p {
  font-family: "Oswald", sans-serif;
  font-size: 1.2em;
  margin: 1em;
  color: white;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

header p {
  font-size: 1.2em;
  padding: 0px;
  margin: 0px;
  
}

img {
  max-width: 375px;
  max-height: 500px;
  
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

figure {
  /* border: 2px solid black; */
  border-radius: 20px;
  background-color: #495d3e;
  min-height: 400px;
  width: 375px;
}
figure:hover{
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 89% 100%, 7% 100%, 0% 80%, 0% 20%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 89% 100%, 7% 100%, 0% 80%, 0% 20%);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  background-color: #b8ae38;
  transform: scale(1.05);
  overflow: hidden;
}